footer{
    background: linear-gradient(135deg, #dbb0d2 0%, #bd8bf1 81%, #C2C8FF ) !important;
    font-size: 1rem; 
    box-shadow: 5px 5px 35px -5px rgba(37, 31, 31, 0.932);
    
      
div {
     padding-top: 7em;
      width:max-content;
      margin :auto;
      padding: .5%;
        color: #272127;
        text-shadow: -1px 2px 5px rgba(218, 38, 218, 0.925);
}
}  